/* geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {

    position: sticky; 
    top: 0; 
    width: 100%; 
    background-color: #050f16; 
    z-index: 1000; 
}


body{
    
    background-color: #051119;
    color: white;
}

/* NavBar*/

.menu {
    display: flex;
    align-items: center;

}

.logo{
    margin-right: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
}


.opcao {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    border-radius: 20px; 
    background-color: rgb(58, 58, 58);
    
}



.texto {
    margin-top: 30px;
    text-align: center;
}


/* Galeria  de fotos*/

.galeria {
    max-width: 1200px; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px; 
    justify-items: center; 
}

.galeria img {
    height: 225px;
    width: auto;
    margin: 10px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.3);
}

/* Footer */

footer {
    background-color: #050f16;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
