<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Cortes</title>
    <link rel="stylesheet" href="/static/css/cortes.css">
</head>
<body>
    <header>
        <nav class="menu">
            <img class="logo" src="/static/img/logo.png" alt="Logo" width="100" height="100">
            <div class="menu-options">
                <a href="/" class="opcao">Início</a>
                <a href="/agendamento" class="opcao">Agende-se</a>
                <a href="/cortes" class="opcao">Cortes</a>
                {% if request.session.get('user_email') %}
                <a href="/perfil" class="profile"><img src="/static/img/perfil.png" alt="Perfil" width="30" height="30"></a>
                {% else %}
                <a href="/login" class="opcao">Login</a>    
                {% endif %}
            </div>
        </nav>
    </header>       

    <h1 class="texto">Galeria de Cortes</h1>
    
    <div class="galeria">
        <img src="/static/img/corte1.jpg" alt="Cabelo 1" class="imagem-galeria">
        <img src="/static/img/corte2.jpg" alt="Cabelo 2" class="imagem-galeria">
        <img src="/static/img/corte3.jpg" alt="Cabelo 3" class="imagem-galeria">
        <img src="/static/img/corte4.png" alt="Cabelo 4" class="imagem-galeria">
        <img src="/static/img/corte5.jpg" alt="Cabelo 5" class="imagem-galeria">
        <img src="/static/img/corte6.jpg" alt="Cabelo 6" class="imagem-galeria">
        <img src="/static/img/corte7.jpg" alt="Cabelo 7" class="imagem-galeria">
        <img src="/static/img/corte8.jpg" alt="Cabelo 8" class="imagem-galeria">
        <img src="/static/img/corte9.jpg" alt="Cabelo 9" class="imagem-galeria">
        <img src="/static/img/corte10.jpg" alt="Cabelo 10" class="imagem-galeria">
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="imgModal">
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
