


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbearia</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <header>
        <nav class="menu">
            <img class="logo" src="static/img/logo.png" alt="Logo" width="100" height="100">
            <div class="menu-options">
                <a href="/" class="opcao">Início</a>
                <a href="/agendamento" class="opcao">Agende-se</a>
                <a href="/cortes" class="opcao">Cortes</a>
                <a href="/login" class="opcao">Login</a>
            </div>
        </nav>
    </header>       
    <div class="container-banner">
        <img class="banner" src="static/img/Barbearia.jpg" alt="Banner" width="100%" height="auto">
        <div class="texto-banner">
            Bem Vindo a Barbearia 
        </div>
    </div>
    <div class="infos">
        <h2>Sobre Nós</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, repudiandae temporibus provident ipsam id saepe aliquam, sit eligendi architecto obcaecati molestias cum voluptatibus repellat accusantium. Debitis beatae laudantium ratione incidunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. At sint aspernatur, iste facere quae odio sunt, illum non dolorum laborum vitae culpa accusantium! Aut non eius ex sit magni?.</p>
    </div>
    <h1 class="texto"> Nossa Localização</h1>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13097.681125794863!2d-48.01643112258194!3d-15.849405596395753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1715004073020!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>  
    
    <footer>
        <div class="footer-content">
            <p>© 2024 Barbearia. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
        